<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the login page </title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <section>
        <div class="imgbx">
            <img src="../img/taximg.jpg" alt="">
        </div>
        <div class="contentbx">
            <div class="formbx">
                <h1>Wecome Driver</h1>
                <h2>Login</h2>
                <!-- notifi -->
                <div class="box1">
                    <div class="btns">
                        <div id="confirmationModal" class="modal">
                            <div class="modal-content">
                            </div>
                        </div>

                        <div id="confirmationPopup" class="popup">
                            <div class="popup-content">
                                <span id="popupMessage"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- notifi -->
                <form id="driverloginPage">
                    <div class="inputbx">
                        <!-- <span>Phone Number</span> -->
                        <input id="contact" type="number" placeholder="Phone Number">
                    </div>

                    <div class="inputbx">
                        <!-- <span>Password</span> -->
                        <input id="password" type="password" placeholder="Password">
                    </div>

                    <div class="inputbx">
                        <input type="submit" value="sign in ">
                    </div>

                    <div class="inputbx">
                        <p>Dont have an account?<a href="D-register.html">Register</a></p>
                    </div>

                    <div class="Forget">
                        <a href="./../F-pass.html">Forget Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="../js/d-login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</body>

</html>