<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>the login page</title>
    <link rel="stylesheet" href="css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="js/password.js"></script>
  </head>
  <body>
    <section>
      <div class="contentbx">
        <div class="formbx">
          <h1>Change New Password</h1>
          <p>Enter your New Password</p>
          
          <form id="fChange">
              <div class="inputbx">
                <input type="password" placeholder="Password" id="password" />
              </div>
              <div class="inputbx">
                <input type="password" placeholder="Password" id="Confirmpassword" />
              </div>

              <div class="inputbx">
                <button type="submit"  class="btn btn-submit">Submit</button>
                <!-- <input type="button" value="Submit" id="submit"/> -->
              </div>
          </form>
        </div>
      </div>
      <div class="imgbx">
        <img src="img/taximg.jpg" alt="" />
      </div>
    </section>
    <script type="module" src="./js/forgotPassword2.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>

  </body>
</html>
