<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>responsive Login form with google login button</title>
    <link rel="stylesheet" href="./css/style1.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-wrapper">
      <div class="box-image box-col">
        <img src="./img/taximg.jpg" alt="sideimage" />
      </div>
      <div class="box-col">
        <div class="box-form">
          <div class="inner">
            <div class="form-head">
              <div class="title" style="text-align: center; font-weight: 1000;font-size: 50px;">
                Welcome To Taxico
              </div>

              <div
                class="title"
                style="font-size: 22; font-weight: 600; text-align: center; padding: 20px"
              >
                Registered As Driver
              </div>

              <div
                class="title-1"
                style="font-size: 18px; font-weight: 300;text-align: center; padding: 15px"
              >
                You are now registered to TaxiCo
              </div>


              <div class="actions">
                <a href="./driver/driver.html"><button class="btn btn-submit">Back to Login</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
