/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    height:100vh;
    display:flex;
}
section .imgbx{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgbx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .contentbx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .contentbx .formbx{
    width: 50%;
}
section .contentbx .input-field {
  flex-direction: row;
  column-gap: 10px;
}
section .contentbx .input-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
section .contentbx .input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}

form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #6e93f7;
  transition: all 0.2s ease;
}
form button.active {
  background: #4070f4;
  pointer-events: auto;
}
form button:hover {
  background: #0e4bf1;
}

section .contentbx .formbx h1 {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size:25px;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentbx .formbx h2 {
    font-weight: 600;
    font-size:20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

section .contentbx .formbx .inputbx {
 margin-bottom:20px ;

}

section .contentbx .formbx .inputbx input {
 width: 100%;
 padding: 10px 20px ;
 outline: none;
 font-weight: 400;
 border: 1px solid gainsboro;
 font-size: 16px;
 letter-spacing: 1px;
 color: black;
 background: transparent;
 border-radius: 10px;
}

section .contentbx .formbx .inputbx input[type="submit"] {
    background: orange;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}

section .contentbx .formbx .inputbx input[type="submit"]:hover{
    background: rgb(246, 198, 109);
}


section .contentbx .formbx .inputbx p{
    color: rgb(0, 0, 0);
    font-size: 16px;
}
section .contentbx .formbx .inputbx p a{
    color: orange;
    font-size: 16px;
}
section .contentbx .formbx .Forget a{
    color:orange ;
    font-size: 16px;
} */
.container {
  background: #fff;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
  height: 65px;
  width: 65px;
  background: #4070f4;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
}
.container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}
form .input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #6e93f7;
  transition: all 0.2s ease;
}
form button.active {
  background: #4070f4;
  pointer-events: auto;
}
form button:hover {
  background: #0e4bf1;
}